html {
  background-color: #fbf3e4;
}

body {
  width: 98%;
  font-size: 20px;
  color: #5e5e5e;
}

p {
  display: block;
}

p.normal {
  width: 100%;
  max-width: 620px;
  display: block;
}

div.text {
  width: 25%;
  height: 100%;
}

img {
  display: block;
}

div.image-text1 {
  width: 80%;
  max-width: 800px;
}

div.in-line {
  display: inline-block;
  vertical-align: middle;
}

div.text {
  width: 100%;
  min-width: 200px;
  max-width: 350px;
  background-color: #caf880;
}

nav {
  width: 100%;
  font-size: 15px;
  max-width: 1000px;
}

ul.bar {
  padding: 20px;
  background-color: #c19475;
  width: 95%;
  font-family: 'Lucida Handwriting', cursive;
  font-size: 1.5em;
  color: #b00000;
  border-radius: 25px;
}

li.nav {
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
}

li.current{
  color: #ff0000;
}

a {
  text-decoration: none;
  color: inherit;
}
