html {
  background-color: #fbf3e4;
}

body {
  width: 98%;
  font-size: 20px;
  color: #5e5e5e;
}

section {
  width: 70%;
  margin-left: 15%;
}

nav {
  width: 100%;
  font-size: 15px;
  max-width: 1000px;
}

ul.bar {
  padding: 20px;
  background-color: #c19475;
  width: 95%;
  font-family: 'Lucida Handwriting', cursive;
  font-size: 1.5em;
  color: #b00000;
  border-radius: 25px;
}

li.nav {
  display: inline;
  margin-left: 5%;
  margin-right: 5%;
}

li.current{
  color: #ff0000;
}

a {
  text-decoration: none;
  color: inherit;
}

.iblock {
  display: inline-block;
  vertical-align: top;
  margin: 0px;
}

.border {
  border-color: #f9777730;
  border-width: 5px;
  border-style: solid;
}

.image-text {
  width: 700px;
  background-color: #00800021;
  margin: auto;
}

.assassin-text {
  width: 400px;
  background-color: #5b008036;
}

.fighter-text {
  width: 400px;
  background-color: #ff000036;
}

.support-text {
  width: 400px;
  background-color: #00ff3036;
}

.mage-text {
  width: 400px;
  background-color: #0075ff36;
}

.marksman-text {
  width: 400px;
  background-color: #fffc0036;
}

.tank-text {
  width: 400px;
  background-color: #fa9b004f;
}

.text{
  font-size: 16px;
}

.txt-size {
  width: 250px;
}

.italics {
  font-style: italic;
}
